*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akshar', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500&display=swap');

body{
    background-color: #272822;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.conteiner{
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1);
    width: 70%;
    padding: 40px;
    border-radius: 12px;
}

.input-busca{
    display: flex;
    position: relative;
}


input{
    width: 100%;
    margin: 0 auto;
    padding: 10px 15px;
    border: 1px solid white;
    outline: none;
    border-radius: 45px;
}


input.error{
    animation: shake 300ms forwards;  
    border: 1px solid red;
    box-shadow: 0 0 10px 0px rgb(255, 68, 68);
}


@keyframes shake {
    0%{
        transform:  translateX(-4px);
    }
    25%{
        transform:  translateX(0px);
    }
    50%{
        transform:  translateX(4px);
    }
    75%{
        transform:  translateX(-4px);
    }
    100%{
        transform:  translateX(0px);
    }
}

i{
    position: absolute;
    right: 20px;
    top: 8px;
    font-size: 20px;
    cursor: pointer;
} 

.resultado{
    margin-top: 50px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.foto-perfil{
    width: 150px;
    height: 150px; 
}

img{
    width: 100%;
    border-radius: 100%;
    height: 100%;
    object-fit: cover;
}

.nome{
    margin-bottom: 10px;
    color: white;
    font-weight: 600;
}

.desc{
    color: rgb(189, 189, 189);
}

.status{
    display: flex;
    margin-top: 20px;
    gap: 30px;
    flex-wrap: wrap;
}

.status p{
    color: rgb(189, 189, 189);
    display: flex;
    gap: 5px;
}

span{
    color: white;
    font-weight: 600;
}

.repos{
    margin-top: 40px;
}

.repos h3{
    color: white;
    margin-bottom: 20px;
}

.rep-single{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.rep-single a {
    background-color: rgba(138, 137, 137, 0.301);
    width: max-content;
    text-decoration: none;
    text-align: center;
    padding: 3px 10px;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 1199px) {

    .foto-perfil{
        margin: 0 auto;
    }
}

@media (max-width: 600px) {

    .conteiner{
        width: 100%;
        height: 100vh;
    }
}